<section class="dashboard">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" placeholder="Title.." id="post-title" name="post-title" />
    </div>
    {{!-- <div class="link-handle">
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div> --}}
    <div class="description-handle">
      <label for="post-content">Content</label>
      <textarea id="post-content" type="text" name="post-content" min-length= "10" placeholder="Must be at least 10 characters long"/></textarea>
    </div>
    <div class="button">
        <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>

{{#if posts.length}}
<section class="dashboard-post">
  <div class="posts">
    <h2>Your Posts . . .</h2>
    <div class="post-wrapper">
      {{#each posts as |post|}}
      <div class="single-post">
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>